---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/gitlab_omniauth-ldap.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.155.124.57:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"gitlab_omniauth-ldap","downloads":38119105,"version":"2.3.0","version_created_at":"2025-08-20T15:07:02.635Z","version_downloads":990383,"platform":"ruby","authors":"Ping
        Yu","info":"A LDAP strategy for OmniAuth.","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"167036fe37c2711f2e1d2047260766e4c9b31ac37dfc873b101bcd4ea2a3a3b4","spec_sha":"9be9f791a1ccf7056cd80c3a8aab7fa7e652f15488275d67eb60954f18e86168","project_uri":"https://rubygems.org/gems/gitlab_omniauth-ldap","gem_uri":"https://rubygems.org/gems/gitlab_omniauth-ldap-2.3.0.gem","homepage_uri":"https://gitlab.com/gitlab-org/omniauth-ldap","wiki_uri":"","documentation_uri":"https://www.rubydoc.info/gems/gitlab_omniauth-ldap/2.3.0","mailing_list_uri":"","source_code_uri":"https://gitlab.com/gitlab-org/omniauth-ldap","bug_tracker_uri":"","changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"pry","requirements":">=
        0.9"},{"name":"rack-test","requirements":">= 0.6"},{"name":"rake","requirements":">=
        10.0"},{"name":"rspec","requirements":">= 2.12"}],"runtime":[{"name":"net-ldap","requirements":"~>
        0.16"},{"name":"omniauth","requirements":">= 1.3, < 3"},{"name":"pyu-ruby-sasl","requirements":">=
        0.0.3.3, < 0.1"},{"name":"rubyntlm","requirements":"~> 0.5"}]}}'
  recorded_at: Thu, 18 Jun 2026 16:15:53 GMT
recorded_with: VCR 6.4.0
