---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/sidekiq.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 35.155.124.57:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"sidekiq","downloads":321017045,"version":"8.1.6","version_created_at":"2026-05-27T16:41:48.796Z","version_downloads":291189,"platform":"ruby","authors":"Mike
        Perham","info":"Simple, efficient background processing for Ruby.","licenses":["LGPL-3.0"],"metadata":{"homepage_uri":"https://sidekiq.org","changelog_uri":"https://github.com/sidekiq/sidekiq/blob/main/Changes.md","bug_tracker_uri":"https://github.com/sidekiq/sidekiq/issues","source_code_uri":"https://github.com/sidekiq/sidekiq","documentation_uri":"https://github.com/sidekiq/sidekiq/wiki","rubygems_mfa_required":"true"},"yanked":false,"sha":"be20cd051124b1a16cf97ea9157137abbd30a515c16a5ae9312d2eadd045e40f","spec_sha":"3c5af8cd4927208b4e42254fb7026cbe8cab1f07b44cf227f212cc56a05fadce","project_uri":"https://rubygems.org/gems/sidekiq","gem_uri":"https://rubygems.org/gems/sidekiq-8.1.6.gem","homepage_uri":"https://sidekiq.org","wiki_uri":null,"documentation_uri":"https://github.com/sidekiq/sidekiq/wiki","mailing_list_uri":null,"source_code_uri":"https://github.com/sidekiq/sidekiq","bug_tracker_uri":"https://github.com/sidekiq/sidekiq/issues","changelog_uri":"https://github.com/sidekiq/sidekiq/blob/main/Changes.md","funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"connection_pool","requirements":">=
        3.0.0"},{"name":"json","requirements":">= 2.16.0"},{"name":"logger","requirements":">=
        1.7.0"},{"name":"rack","requirements":">= 3.2.0"},{"name":"redis-client","requirements":">=
        0.29.0"}]}}'
  recorded_at: Thu, 18 Jun 2026 16:16:33 GMT
- request:
    method: head
    uri: https://api.github.com/repos/sidekiq/sidekiq
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ccd9e08230c7b0514207d04e4cdb8ecc08d18b292d3fd9256786ee90c071b8d8"
      Last-Modified:
      - Thu, 18 Jun 2026 08:37:27 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '30'
      X-Ratelimit-Used:
      - '30'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Reset:
      - '1781802845'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Jun 2026 16:16:33 GMT
- request:
    method: get
    uri: https://api.github.com/repos/sidekiq/sidekiq/releases?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d41c935eb5c029c094b396655d6701ed2035fea14feb9434d73918c953bbc336"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Used:
      - '31'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Reset:
      - '1781802845'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 18 Jun 2026 16:16:33 GMT
- request:
    method: get
    uri: https://api.github.com/repos/sidekiq/sidekiq/contents/CHANGELOG.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Used:
      - '32'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Reset:
      - '1781802845'
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/contents#get-repository-content","status":"404"}'
  recorded_at: Thu, 18 Jun 2026 16:16:33 GMT
- request:
    method: get
    uri: https://api.github.com/repos/sidekiq/sidekiq/contents/CHANGES.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Used:
      - '33'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Reset:
      - '1781802845'
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/contents#get-repository-content","status":"404"}'
  recorded_at: Thu, 18 Jun 2026 16:16:33 GMT
- request:
    method: get
    uri: https://api.github.com/repos/sidekiq/sidekiq/contents/History.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Used:
      - '34'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Reset:
      - '1781802845'
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/contents#get-repository-content","status":"404"}'
  recorded_at: Thu, 18 Jun 2026 16:16:34 GMT
- request:
    method: get
    uri: https://api.github.com/repos/sidekiq/sidekiq/contents/NEWS.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '25'
      X-Ratelimit-Used:
      - '35'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Reset:
      - '1781802845'
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/contents#get-repository-content","status":"404"}'
  recorded_at: Thu, 18 Jun 2026 16:16:34 GMT
recorded_with: VCR 6.4.0
